.navbar {
  background-color: #1c1611 !important;
}

.navbar-brand {
  margin-left: 4rem !important;
  color: #ffc600;
}

.nav-link {
  color: #ffc600;
}

.img-thumbnail {
  background-color: #332b2b;
  border: 1px solid #eaad71 !important;
}

.profile {
  width: 4rem;
  height: 4rem;
  text-align: center;
  position: absolute;
  z-index: 1041;
}
