.navContainer {
  background-color: #29211a !important;
  max-height: 4rem;
}

.navbar-brand {
  color: #ffc600;
}

.img-thumbnail {
  background-color: #332b2b;
  border: 1px solid #eaad71 !important;
}

.pfp {
  width: 4rem;
  height: 4rem;
}
