.modal-body {
  color: #442333 !important;
}

.modal {
  color: #442333 !important;
}

.modal-header {
  color: #442333 !important;
}

.modal-body {
  color: #442333 !important;
}

.tab-content {
  color: #442333 !important;
}

.tab-pane {
  color: #442333 !important;
}
